/* homepage main backgroud image */

.homepage-bg{
  background-image: url("../img/event_bg.jpg");
  height: 95vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

/* text section homepage */

.home-text {
  padding: 60px 0px;
  display: flex;
}

.home-text h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.home-text p {
  text-align: center;
}

/* display events */

.event-wrapper {
  padding-left: 0px;
  padding-right: 0px;
  border: solid 2px white;
}

.each-event {
  height: 300px;
  display: flex;
}

.event-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* vertical-align: middle; */
  position: relative;
}

.event-link form {
  position: absolute;
  top: 50%;
}

.event-name-button {
  background-color: blue;
}












/* footer */
footer {background-color: grey;}
footer .row .col-md-12 p {color: white; text-align: center; padding-top: 7px;}
