.homepage-bg{
  background-image: url("../img/event_bg.jpg");
  height: 95vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.event-wrapper{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  border: solid 2px white;
}

.each-event {
  height: 300px;
}
